<section class="cbp-so-section cbp-so-animate">
  <figure class="cbp-so-side cbp-so-side-left">
    <%= image_tag comedy_club.image.url %>
  </figure>

  <article class="cbp-so-side cbp-so-side-right">
    <h2 style="font-size:40px"><%= link_to comedy_club.name, comedy_club.website %></h2>
    <p style="font-size:20px"><%= comedy_club.description %></p>
     <p style="font-size:14px"><%= comedy_club.location %> </p>
  </article>
</section>
