<section class="cbp-so-section cbp-so-animate">
  <article class="cbp-so-side cbp-so-side-left">
    <h2 style="font-size:40px"><%=  comedian.name%></h2>
    <p style="font-size:20px"><%= comedian.bio %></p>
  </article>

  <figure class="cbp-so-side cbp-so-side-right">
     <%= content_tag(comedian.youtube_embed comedian.youtube_url) %>
  </figure>
</section>
