<%= link_to 'New Comedian', new_comedian_path %>
<body class="bold">
<div id="cbp-so-scroller" class="cbp-so-scroller">
  <%- @comedians.each do |comedian| -%>
    <%= render "comedians/list_item_#{cycle('left', 'right')}",
      comedian: comedian %>
  <%- end -%>
</div>

<script>
  new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
</script>
</body>

