<p id="notice"><%= notice %></p>

<p class="center">
 <h1 class="center"><%= @comedian.name  %></h1>
</p>

<div class="right">
  <%= content_tag(@comedian.youtube_embed @comedian.youtube_url) %>
</div>

<div>
  <p class="left">  <%= @comedian.bio %> </p>
<div>



