<div class ="space"></div>
<BR></BR>
<div class="jumbotron">
  <div class="container">
    <h1>Comedy Hub</h1>
    <p>Your one stop shop for every comedian performing in New York City</p>
    <p><a href="/comedy_hub" class="btn btn-primary btn-lg">Enter</a></p>
  </div>
<script>
    $( ".navbar-default").hide();
    </script>
</div>

