<section class="contain"></section>
<div class ="backy"></div>
  <div class="box">
    <h1 class="title">Comedy Hub</h1>
    <p class="intro">Your one stop shop to see every comedian performing in New York City</p>
    <p><a href="/comedy_hub" class="btn btn-primary btn-lg">Enter</a></p>

</div>

<script>
    $( ".navbar-default").hide();
    </script>
</div>


