<%= content_for :big_header do %>

<div class="page-header">
  <h1>Comedy Hub <small>Your one stop shop for every comedian performing in New York City</small></h1>
</div>




</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  // To attach Backstrech as the body's background
  $(function(){
    $.backstretch("bricks.jpg");
  });


  // // You may also attach Backstretch to a block-level element
  // $(".foo").backstretch("path/to/image.jpg");

  // // Or, to start a slideshow, just pass in an array of images
  // $(".foo").backstretch([
  //   "path/to/image.jpg",
  //   "path/to/image2.jpg",

 //   "path/to/image3.jpg"
  // ], {duration: 4000});
</script>
<!-- -->
<%- end -%>
