<div class="jumbotron">
  <div class="container">
    <h1>Comedy Hub</h1>
    <p>Your one stop shop for every comedian performing in New York City</p>
    <p><a class="btn btn-primary btn-lg">Enter</a></p>
  </div>
</div>
