@import "twitter/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Signika+Negative|Rum+Raisin|Fontdiner+Swanky);


.center {
    text-align:center;
    font-family:'Signika Negative', sans-serif;
    font-weight:bold;
    text-decoration:none;

}

.centerish{
    margin:0;

}
.left{
width:450px;
padding:10px;
border:5px solid gray;
margin:0px;

}

.right{

    width: 50%;
}

//.welcome-index { background-image: image-url("brick9.jpg"); }
// Comedy Hub styling
.comedian a{
    color:black;
    font-weight:bold;
}

.bio p{
    color: white;
}

//
.show-title{
    font-weight:bold;
}

.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }
}




label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}



.page-header{
    color:#F2E6D0;
}

.page-header small {
    font-size:24px;
    font-weight:bold;
    color: #F2E6D0;
}

// body.users.users-new{
//    text-align:center;
// }

// .new_user{

// }

.boxed {
  border: 2px solid black;
  padding: 10px;
}


.cbp-so-scroller {
    margin-top: 50px;
    overflow: hidden;
}

.cbp-so-section {
    margin-bottom: 15em;
    position: relative;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

/* Text styling */
.cbp-so-section h2 {
    font-size: 5em;
    font-weight: 300;
    line-height: 1;
}

.cbp-so-section p {
    font-size: 2em;
    font-weight: 300;
}

/* Sides */
.cbp-so-side {
    width: 50%;
    float: left;
    margin: 0;
    padding: 3em 4%;
    overflow: hidden;
    min-height: 12em;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right {
    text-align: left;
}

.cbp-so-side-left {
    text-align: right;
}

.cbp-so-side-right img {
    float: left;
}

.cbp-so-side-left img {
    float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 73.5em) {
    .cbp-so-scroller {
        font-size: 65%;
    }

    .cbp-so-section h2 {
        margin: 0;
    }

    .cbp-so-side img {
        max-width: 120%;
    }
}

@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
    }

    .cbp-so-side img {
        max-width: 100%;
    }
}

.cbp-so-scroller a {
    color:#FC4349;
    font-family: 'Signika Negative', sans-serif;

}

.cbp-so-scroller {
    color:#FC4349;
    font-family: 'Signika Negative', sans-serif;
}
.cbp-so-scroller{

    background-color:#F7F7F7;
}

.cbp-so-scroller p{
color:#2A2C2B;
font-family: 'Signika Negative', sans-serif;
}






body{
    background-color:#F7F7F7;

}

.comedian {
    font-size:15px;

}
.club{
    color:#2C3E50;
    font-family:'Signika Negative', sans-serif;
    font-weight:bolder;
}

.addy{
    float:right;
}

.intro{

    font-size:30px;
    font-family: 'Rum Raisin', sans-serif;
}

.introp{
    color: #D7DADB;
    font-size:30px;
}

body{
    background-color:#F7F7F7;

}


.box {
    margin-top:10%;
    background-color: rgb(158,114,102);
    opacity: 0.8;
}

div.box h1
  {
  font-weight:bold;
  color:#000000;
  }

  div.box p
  {
  font-weight:bold;
  color:#000000;
  }
.btn-lg {
    float:right;
}
.title{

    font-family: 'Fontdiner Swanky', cursive;
    font-size : 30px;
    opacity:1.0;

}

.backy{
    margin:10%;
    background-color:black;

}

.navbar-default{
    font-family: Geneva;
    font-weight:bold;
    background-color:#F24C3D;
    color:white ;
    width:100%;
    height:50px;
    padding:0;
    border:0;
    border-radius:0;
    position:fixed;

}

.navbar-nav > li > a {

    color:rgb(250,245,241);}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 34px;
    margin: 0 auto;
    background-color:#F24C3D;
    //background-image: image-url("bring.png");
    z-index:1;
    opacity:.999
}

.contains{
    width:100%;
    padding:0;
    height:50px;
    position:fixed;
    z-index:1;
    overflow:hidden;

}
.navbar-default .navbar-nav > li > a {
color: white;
margin-left:30px;

}

.navbar-default .navbar-brand {
color: white;
margin-left:40px;
font-size:30px;
}

body {
background-color: rgb(250,245,241);
}

.banner {

    background-color:#AEA79F;
    color:white;
    font-weight:bold;
    font-family:'Signika Negative', sans-serif;
    margin-top:5px;
    height:27px;
    padding:0;
    text-align:center;
    width:100%;
    z-index:1;
    margin-top:50px;
    font-style:italic;
    font-size:21px;
}

.ticket{

float:right;
border:2px solid;
border-radius:10px;
font-family:Helvetica;
background-color:#F2F2F2;
font-weight:bold;
box-shadow: 2px 2px 2px #000;
margin-right:10px;
}

.pagination{
    z-index:2;
    position:relative;
    float:right;
    margin-bottom:0px;
}

.pagination a{

    color:#F24C3D;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{

    background-color:#F24C3D;
    border:1px solid #F24C3D;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
    color:#F24C3D;

}
.tile{
    padding-bottom:25px;

}
.club h1, .h1{
    margin-bottom:50px;
    position:relative;
}
@media(max-width:500px){
    .banner{
        font-size:11px;
    }
}

